{% extends 'base/body.html' %}

{% load static%}

{% block content %}
<section class="vh-100" style="background-color: #c1b3d6; margin-top: -4%; margin-bottom: -3%;">
  <div class="container py-5 " style="width: 80%">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'img/login.jpg' %}" alt="login form" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">
                  {% csrf_token %}
               
                  {% if user.is_authenticated %}
                  <div class="alert alert-info">Estas autenticado </div>
                  {% else %}
                  <div class="alert alert-info">No has iniciado sesion </div>
                  {% endif %}


                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión con tu su cuenta</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="username" name="username" class="form-control form-control-lg" />
                    <label class="form-label" for="username">Correo electronico</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">Contraseña</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Ingresar</button>
                  </div>

                  <a class="small text-muted" href="#!">¿Has olvidado tu contraseña?</a>
                  <p class=" pb-lg-2" style="color: #393f81;">¿No tienes una cuenta? <a
                      href="{% url 'usuarios:registro' %}" style="color: #393f81;">Registrate aqui</a></p>
                  <a href="#!" class="small text-muted">Condiciones de uso.</a>
                  <a href="#!" class="small text-muted">Política de privacidad</a>
                  {% if form.errors %}
                <div class="alert alert-danger">
                  <strong>Error:</strong> Usuario o contraseña incorrectos.
                </div>
                {% endif %}
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}