{% extends 'base/body.html' %}


{% block content %}
    <!-- Section: Design Block -->
<section class="text-center" style="margin-top: -3%; padding: 10%; margin-bottom: -5%; background-color: #c1b3d6;">
    <!-- Background image -->
    
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);border-radius:3%
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Registrate ahora</h2>
            <form>
         
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Nombres</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Apellidos</label>
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3" style="text-align: left;">Correo electronico</label>
              </div>
  
              <!-- Password input -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Contraseña</label>
              </div>
              <div class="col-md-6 mb-4">
                <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Repita su contraseña</label>
              </div>
            </div>
              <!-- Checkbox -->
           
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Registrarse
              </button>
  
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock content %}
    